/* Change url(../activity/activity-helloworld.svg); for set your custom activity icon */
#main-toolbar #activity-button {
  background-image: url(../activity/icon.svg);
}

#upperlower-button {
  background-image: url(../icons/uppercase-lowercase.svg);
}

#back-button {
  background-image: url(../icons/arrow.svg);
}

#canvas p {
  margin-top: 25%;
  text-align: center;
}

#canvas {
  /*
  overwrite the definition in sugar-web/graphics/css/sugar.css
  to workaroud a bug affecting webkit on android 4.1/4.2
  https://code.google.com/p/android/issues/detail?id=41312
  */
  overflow-y: visible;

  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#intro {
    width: 100%;
}

#introCanvas {
  background-color: #38a4dd;
}

body {
  background-color: white;
}

input, button {
    vertical-align:middle;
}

table td {
  padding: 0px;
}

#firstPage {
  align:center;
  text-align: center;
  font: 2em sans-serif;
}

#wordList {
  width: 300px; /* screen / 4 ?? */
}

#rightPanel {
  background: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 700,
        from(#AECFEE), to(#ffffff));

  background: radial-gradient(at bottom right, #AECFEE, #ffffff 70%);
  color: #03a9f4;
}

.level-button {
  vertical-align:middle;
  background-size: 100%;
  background-color: transparent;
  border-radius: 0;
  border: 0px;
  padding: 11px; /* @subcell-size;  */
  margin: 22px;
}

.level-button:hover {
  background-color: transparent;
}

#easy-button {
  background-image: url('../icons/easy.svg');
}

#medium-button {
  background-image: url('../icons/medium.svg');
}

#hard-button {
  background-image: url('../icons/hard.svg');
}

#add-word-button {
  background-image: url('../icons/plus.svg');
  background-size: 100%;
  background-color: transparent;
  border-radius: 0;
  border: 0px;
  padding: 11px; /* @subcell-size;  */
}

#random-words-button {
  background-image: url('../images/dice-random.svg');
  background-size: 100%;
  background-color: transparent;
  height: 85px;
  width: 85px;
  border-radius: 0;
  border: 0px;
  padding: 11px;
}

#add-word-button:hover {
  background-color: transparent;
}

.blueButton {
  background-color: #03a9f4;
}

.blueButton:disabled {
  background-color: #7c7c7c;
}

.blueButton:hover {
  border-color: transparent;
}

.blueBorderButton {
  padding: 10px;
  font: 1.5em sans-serif;
  background-color: #ffffff;
  border-color: #03a9f4;
  color: #222222;
}

.blueBorderButton:hover, .blueBorderButton:focus {
  background-color: #ffffff;
  border-color: #03a9f4;
  border-width: 4px;
}

#find-words-button:disabled, #find-words-button:hover, #find-words-button:active {
  background-color: #03a9f4;
  color: white;
}

#validation-error {
  position: absolute;
  background-image: url('../icons/red_pin.png');
  background-repeat: no-repeat;
}

#validation-error-msg {
  margin-top: 15px;
  padding: 10px;
  background-color: #c13333;
  color: white;
  border-radius: 5px;
  /* left: 1200px; */
}

table.loadData {
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
  text-align: left;
}

table.loadData td {
  padding: 10px;
}

table.loadData input {
  font-size: 40px;
  width: 300px;
  padding: 20px;
}
